.git
.github
.vs
.vscode
.idea

**/bin
**/obj
**/Logs
**/TestResults
**/coverage
**/coverage.cobertura.xml

docs/_site
artifacts

*.user
*.suo
*.rsuser
*.db
*.db-shm
*.db-wal

Dockerfile*
docker-compose*.yml
.env
.env.*
