.git
.github
.vs
.vscode
.idea

**/bin
**/obj
**/Logs
**/logs
**/TestResults
**/coverage
**/coverage.cobertura.xml

docs
docs/_site
artifacts
tests

*.user
*.suo
*.rsuser
*.db
*.db-shm
*.db-wal
*.mdf
*.ldf
*.ndf
*.pfx
*.snk
*.publishsettings
*.pubxml
*.log

Dockerfile*
docker-compose*.yml
.env
.env.*
!.env.example
