@{
    ViewData["Title"] = "Access Denied";
}

<h1>Access Denied</h1>

<p>
    You do not have permission to access this resource.
</p>

<p>
    If you believe you reached this page in error, return to the application home page and try again.
</p>

<p>
    <a href="/">Return home</a>
</p>
